/* Police d'écriture utilisé */

@font-face {
    font-family: "Mono"; 
    src: url("../fonts/Interstate\ Mono\ Regular.otf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

/* ---------------------- INITIALISATION DES VARIABLES CSS ---------------------- */

:root {
    /* Fond du site */
    --background: #EBF5FF; 
    --black: #1E1E1E;
    --darkblue: #1A365D;
    --rouge: #F12C2C;
    --white: #FBFDFF;
    /* couleur utilisé souvent lorsqu'on survol un bouton */
    --hover: #2a5694;
    --light-grey: #DADADA;
    /* Police d'écriture du site */
    --font-family: "Mono";
    /* effet d'ombre extérieur sur certains éléments */
    --shadow: 2px 2px 10px #1e1e1e50;
}

body {
    background: var(--background);
    margin: 0;
    font-family: var(--font-family);
}

/* Barre de scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 16px;

}
 
::-webkit-scrollbar-thumb {
  background: var(--hover); 
  border: solid 1px var(--white);
  border-radius: 16px;
}



/* Entête de page */

header {
    background: var(--darkblue);
    padding: 50px;
}

/* Main */

main {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------------- MENU DEROULANT GAUCHE ---------------------------- */

.menu_listes {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(-300px);
    transition: transform 0.4s ease;
    z-index: 10;
    color: var(--white);
}

.menu_listes.menu_open {
    transform: translateX(0);
}

.menu_deroulant_gauche {
    background: var(--darkblue);
    height: 100% !important;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: inset 5px var(--white);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.button_menu_gauche {
    background: var(--darkblue);
    color: var(--white);
    padding: 12px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 350px;
    top: 50%;
    border-radius: 0 0 8px 8px;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease;
}

.button_menu_gauche:hover {
    background: var(--hover);
}

.titre_menu {
    margin-top: 5vh;
    font-size: 24px;
}

.btn-sections-menu {
    margin-top: 20px;
    width: 100%; /* S'assure que ça prend toute la largeur du menu */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-section-menu {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--white);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

.btn-section-menu:hover {
    background: var(--hover);
}

.btn_open, .btn-section-menu.btn_open:hover {
    color: var(--white);
    background: var(--hover);
    font-weight: bold;
    box-shadow: var(--shadow);
    padding: 20px 20px;
}

.btn_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--white);
    border-radius: 0 4px 4px 0;
}

.menu_deroulant_gauche section {
    display: none;
}

.menu_deroulant_gauche section.sec_open {
    display: block;
}

.menu_ul li {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nom_element {
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.nom_texte {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    cursor: pointer;
    width: 100px;
    transition: 0.2s ease;
}

.nom_texte:hover {
    transform: translateX(10px);
}

.ul_icons {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-left: 50px;
}

.ul_icons svg{
    transition: 0.2s ease;
    cursor: pointer;
}

.ul_icons svg:hover {
    transform: scale(1.25);
}

/* Sous section */

.sous_sec {
    margin-top: 0px;
}

.first_sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    width: 250px;
}

.return_sec {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.return_sec svg {
    transition: 0.2s ease;
}

.return_sec:hover svg {
    transform: translateX(-10px);
}

.nom_liste {
    text-decoration: underline;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    max-width: 100px;
}

.search_bar {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search_bar input {
    border: none;
    padding: 10px 40px 10px 15px;
    border-radius: 50px;
    width: 100%;
    color: var(--black);
    font-size: 0.95rem;
    outline: none;
}

.search_bar label {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    cursor: text;
}

.search_bar svg {
    width: 20px;
    height: 20px;
}

.search_bar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* listes */

.liste_elements {
    margin-top: 20px;
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px var(--white);
}

.bloc_element {
    list-style-type: none;
    margin: 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid var(--white);
}

.bloc_element:hover {
    border-left: 4px solid var(--white);
}

.bloc_element:nth-child(2n of :not(.bloc_invisible)) {
    background: var(--hover);
}

.bloc_invisible {
    display: none !important;
}

.bloc_element li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
}

/* Nom de l'élement en gras */
.bloc_element li:first-child {
    font-weight: bold;
    font-size: 1rem;
}

/* ligne simple est réservé à la liste des matières et à l'historique des placement */
.bloc_element.ligne_simple {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-left: auto;
    margin-top: 5px;
}

.bloc_element.ligne_simple .ul_icons {
    margin-top: 0;
}

.bloc_element.ligne_simple li {
    margin-top: 0;
}

.btn_ajouter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
    cursor: pointer;
}

.btn_ajouter svg{
    transition: 0.2s ease;
}

.btn_ajouter:hover svg {
    transform: scale(1.5);
}

/* Section edition (ajouter ou modifier un élément) */

.edition_sec {
    display: none;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.edition_sec.sec_open {
    display: flex; 
}

.titre_edition_sec {
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.form_edition {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 30px;
}

/* Structure d'un champ */
.champ_edition {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label_texte {
    font-size: 0.85rem;
    color: var(--light-grey)
}

.input_ligne {
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(251, 253, 255, 0.4);
    color: #FBFDFF;
    font-size: 1rem;
    padding: 5px 0;
    outline: none;
    transition: border-color 0.3s ease;
}

.input_ligne:focus {
    border-bottom: 2px solid #FBFDFF; 
}

.edition_erreur {
    margin: 10px 25px;
    text-align: center;
    color: var(--rouge);
}

/* ---------------------------- ACCUEIL ------------------------------- */

.accueil {
    padding-top: 50px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 64px;
    text-shadow: var(--shadow);
    font-weight: normal;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
}

/* ------- Formulaire importer des fichiers --------- */

.form_import {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}

.import-wrapper {
    width: 100%;
    max-width: 600px;
}

.import-field {
    display: flex;
    align-items: center;
    background: var(--white);
    border: 2px solid var(--darkblue);
    border-radius: 50px;
    padding: 5px 5px 5px 20px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.import-field:focus-within {
    box-shadow: var(--shadow);
}

.custom-loader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--black);
    font-size: 0.95rem;
}

.custom-loader .icon { 
    margin-right: 10px; 
}

#file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    opacity: 0.8;
}

/* Les boutons */
.actions {
    display: flex;
    gap: 5px;
}

.btn-reset, .btn-submit {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    align-content: center;
}

.btn-reset {
    padding: 10px 15px;
}

.btn-reset svg {
    transition: 0.2s ease;
}

.btn-reset:hover svg{
    transform: scale(1.5);
}

.btn-submit {
    background: var(--darkblue);
    color: var(--white);
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-submit:hover {
    transform: scale(1.05);
    background: var(--hover);
}

.btn-reset:hover {
    background: #fff0f0;
}

.verif_import {
    display: flex;
    justify-content: center;
}

/* ---- Menu Import étudiant ---- */

.fond_sombre {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--black);
    opacity: 0.5;
    z-index: 4;
}

.menu_import_etu {
    border: solid 2px var(--white);
    border-radius: 16px;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 5;
    width: 500px;
    background: var(--darkblue);
    color: var(--white);
    padding: 30px;
}

.choix_colonnes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.groupe_btn {
    display: flex;
    justify-content: right;
    gap: 20px;
}

.groupe_btn div {
    padding: 10px 20px;
    border-radius: 16px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn_annuler {
    background: var(--rouge);
    border: solid 2px var(--white);
}

.btn_valider {
    background: var(--white);
    color: var(--black);
}

.groupe_btn div:hover {
    transform: scale(1.1);
}

.menu_erreur {
    color: var(--rouge);
    margin-bottom: 20px;
}

.menu_import_close {
    opacity: 0;
    pointer-events: none;
}

hr {
    border: solid 1px var(--darkblue);
    width: 100%;
    margin: 20vh 0;
}
/*---------------------------------- Section Salles d'exam ---------------------*/

h3 {
    color: var(--darkblue);
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

.button_salles_exam:hover::after {
    opacity: 0.2;
}

.selected::after {
    opacity: 1;
}

.section_import {
    min-height: 300px;
}

/*--------- Options du tableau ----------------*/

.options_table {
    margin: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selects_table {
    display: flex;
    gap: 10px;
}

.selects_table select {
    width: 150px;
}

/* inputs */

.inputs-container {
    display: flex;
    gap: 15px;
}

.input_txt {
    display: inline-flex;
    align-items: center;
    background-color: var(--black);
    padding: 4px 4px 4px 16px; 
    border-radius: 50px;
}

/* Le texte du label */
.input_txt label {
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 12px;
    white-space: nowrap;
}

.input_txt input {
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    width: 90px;
    outline: none;
    transition: box-shadow 0.2s ease;
}

.input_txt input:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.input_txt input[type="number"]::-webkit-inner-spin-button, 
.input_txt input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

/* Filtres de la tables pour les parcours ou étudiants en tier temps */

.filtres_table {
    width: 90%;
    display: flex;      
    flex-wrap: wrap;   
    justify-content: flex-start;
}

.filtre_table {
    display: flex;
    gap: 10px;
    padding: 10px;
}

.badge-checkbox {
    display: inline-flex;
    align-items: center;
    background-color: var(--checkcolor);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    transition: 0.2s ease;
}

.badge-checkbox:hover {
    opacity: 0.9;
}

.badge-checkbox input {
    display: none;
}

.badge-text {
    margin-right: 12px;
    font-size: 0.9rem;
    font-weight: 500;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.badge-checkbox input:checked + .badge-text + .custom-checkbox {
    border-color: var(--white);
}

.badge-checkbox input:checked + .badge-text + .custom-checkbox::after {
    display: block;
}

.btn-placement {
    display: flex;
    gap: 20px;
    color: var(--white);
    background: var(--darkblue);
    padding: 15px;
    border-radius: 25px;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-placement:hover, .btn-exporter:hover {
    background: var(--hover);
}

.btn-placement:hover svg, .btn-exporter:hover svg {
    transition: 0.2s ease;
    transform: translateX(5px);
}

.btn-placement.placement_disable {
    pointer-events: none;
    opacity: 0.5;
}

select {
    background: var(--white);
    color: var(--darkblue); 
    border: 2px solid var(--hover); /* Ta bordure bleue */
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 0.95rem;
    font-weight: 500;
    font-family: inherit; /* Utilise la police du site */
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Effet quand on clique sur le select ou qu'on le survole */
select:focus, select:hover {
    border-color: var(--darkblue); /* La bordure devient plus foncée */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Effet de survol sympa */
.btn_annuler:hover, .btn_valider:hover {
    transform: scale(1.05);
    opacity: 0.9;
}


/* --------------------- Tableau -------------------*/

.section_tableau {
    margin-top: 15px;
    width: 100%;
    max-height: 350px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    background: var(--white);
}

.exam-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--black);
    text-align: left;
    overflow-y: auto;
}

.exam-table thead th {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 15px;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
}

.exam-table td {
    padding: 5px;
}

.exam-table td, .exam-table th {
    width: 150px;
    text-align: center;
}

.exam-table tbody tr td:first-child {
    text-transform: uppercase;
}

.exam-table tbody tr:nth-child(2n) {
    background-color: var(--light-grey);
}

.place_attribue {
    font-size:0.75rem; 
    color:var(--darkblue); 
    opacity:0.7;
}

.icon_tiers-temps {
    margin: 0 30%;
}

/* ------ Section après le tableau ----------- */
.after_table {
    display: flex;
    justify-content: space-between;
}

.capacite_max {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 10px;
}

.zero_etu, .capacite_max, .ajout_salle, #liste_salles_cumulees, .ajout_salle_sup {
    margin-top: 20px;
    display: none;
}

.message_visible {
    display: flex !important;
}

.texte_vert {
    color: #10B981;
}

.texte_rouge {
    color: var(--rouge);
}

.sections_salle_sup {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    height: 20px;
}

#liste_salles_cumulees {
    display: flex;
    gap: 20px;
}

.badge_salle_sup {
    background:var(--hover); 
    color:var(--white); 
    padding: 10px 15px; 
    border-radius:15px; 
    font-size:0.85rem; 
    display:flex; 
    align-items:center; 
    gap:8px;
}

.btn_retirer_salle {
    cursor:pointer; 
    display:flex; 
    align-items:center;
    transition: 0.2s;
}

.btn_retirer_salle:hover {
    transform: scale(1.2);
}

.svg_attention.svg_attention_invisible {
    display: none;
}

.btn-exporter {
    margin-top: 30px;
    margin-left: auto;
    background: var(--black);
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    color: var(--white);
    padding: 15px;
    width: 150px;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* Pied de page */

footer {
    margin-top: 200px;
    background: var(--darkblue);
    padding: 50px;
}