/* Police d'écriture utilisé */

@font-face {
    font-family: "Mono"; 
    src: url("../fonts/Interstate\ Mono\ Regular.otf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
}

/* ---------------------- INITIALISATION DES VARIABLES CSS ---------------------- */

:root {
    /* Fond du site */
    --background: #EBF5FF; 
    --black: #1E1E1E;
    --darkblue: #1A365D;
    --rouge: #F12C2C;
    --white: #FBFDFF;
    /* couleur utilisé souvent lorsqu'on survol un bouton */
    --hover: #2a5694;
    --light-grey: #DADADA;
    --gris: #9CA3AF;
    /* Police d'écriture du site */
    --font-family: "Mono";
    /* effet d'ombre extérieur sur certains éléments */
    --shadow: 2px 2px 10px #1e1e1e50;
    --valide: #10B981;
}

html {
    scroll-behavior: smooth;
}

body {
    background: var(--background);
    margin: 0;
    font-family: var(--font-family);
}

a {
    text-decoration: none;
}

.no_scroll {
    overflow: hidden;
}

.fond_sombre {
    transition: 0.2s ease;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--black);
    opacity: 0.5;
    z-index: 4;
}

button {
    outline: none;
    cursor: pointer;
    border: none;
    font-family: var(--font-family)
}

button:focus-visible {
    background: var(--hover);
}

/* Barre de scroll */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--white);
  border-radius: 16px;

}
 
::-webkit-scrollbar-thumb {
  background: var(--hover); 
  border: solid 1px var(--white);
  border-radius: 16px;
}



/* Entête de page */

header {
    background: var(--darkblue);
    padding: 30px 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.header_navs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    flex: 1;
}

.header_lien {
    text-decoration: none;
    color: var(--white);
    position: relative;
    font-weight: 500;
    white-space: nowrap;
}

.header_lien::after {
    content: "";
    position: absolute;
    background: var(--white);
    height: 2px;
    left: 0;
    bottom: -5px;
    width: 0%;
    transition: 0.2s ease;
}

.header_lien:hover::after {
    width: 100%;
}

/* Boutons du header */
.header-action-group {
    display: flex;
    background: var(--white);
    border: solid 1px var(--darkblue);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: var(--shadow);
}

.btn-header-action {
    display: flex;
    gap: 10px;
    align-items: center;
    color: var(--darkblue);
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
    user-select: none;
}

.btn-import {
    border-right: 1px solid var(--light-grey);
}

.btn-export {
    background: var(--white);
}

.btn-header-action:hover {
    background: var(--light-grey);
}

.btn-header-action svg {
    transition: transform 0.2s ease;
}

.btn-header-action:hover svg {
    transform: scale(1.2)
}

/* Main */

main {
    margin: 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* ----------------- MENU DEROULANT GAUCHE ---------------------------- */

.menu_listes {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    transform: translateX(-300px);
    transition: transform 0.4s ease;
    z-index: 15;
    color: var(--white);
}

.menu_listes.menu_open {
    transform: translateX(0);
}

.menu_deroulant_gauche {
    background: var(--darkblue);
    height: 100% !important;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-right: inset 5px var(--white);
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.1);
}

.button_menu_gauche {
    background: var(--darkblue);
    color: var(--white);
    padding: 12px 25px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    white-space: nowrap;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    position: absolute;
    left: 350px;
    top: 50%;
    border-radius: 0 0 8px 8px;
    box-shadow: var(--shadow);
    transition: 0.2s ease;
}

.button_menu_gauche:hover {
    background: var(--hover);
}

.titre_menu {
    margin-top: 5vh;
    font-size: 24px;
}

.btn-sections-menu {
    margin-top: 20px;
    width: 100%; /* S'assure que ça prend toute la largeur du menu */
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn-section-menu {
    position: relative;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--white);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
    opacity: 0.7;
}

.btn-section-menu:nth-child(:not(.btn_open)) {
    opacity: 0.7;
}

.btn-section-menu:hover {
    background: var(--hover);
    opacity: 1;
}

.btn_open, .btn-section-menu.btn_open:hover {
    color: var(--white);
    background: var(--hover);
    font-weight: bold;
    box-shadow: var(--shadow);
    padding: 20px 20px;
    opacity: 1;
}

.btn_open::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: var(--white);
    border-radius: 0 4px 4px 0;
}

.menu_deroulant_gauche section {
    display: none;
}

.menu_deroulant_gauche section.sec_open {
    display: block;
}

.menu_ul li {
    margin-bottom: 15px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nom_element {
    text-decoration: underline;
    display: flex;
    align-items: center;
}

.nom_texte {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    cursor: pointer;
    width: 100px;
    transition: 0.2s ease;
}

.ul_icons {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;
    margin-left: 50px;
}

.ul_icons svg{
    transition: 0.2s ease;
    cursor: pointer;
}

.ul_icons svg:hover {
    transform: scale(1.25);
}

/* Sous section */

.sous_sec {
    margin-top: 0px;
}

.first_sec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0px;
    width: 300px;
}

.return_sec {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: solid 1px var(--white);
    padding: 5px 20px;
    border-radius: 16px;
}

.return_sec svg {
    transition: 0.2s ease;
}

.return_sec:hover svg {
    transform: translateX(-10px);
}

.nom_liste {
    text-decoration: underline;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block; 
    max-width: 100px;
}

.nom_liste:hover, .nom_texte:hover {
    overflow: auto;
    text-overflow:clip;
    white-space: wrap; 
}

.search_bar {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 25px;
}

.search_bar input {
    border: none;
    padding: 10px 40px 10px 15px;
    border-radius: 50px;
    width: 100%;
    color: var(--black);
    font-size: 0.95rem;
    outline: none;
}

.search_bar label {
    position: absolute;
    right: 12px;
    display: flex;
    align-items: center;
    cursor: text;
}

.search_bar svg {
    width: 20px;
    height: 20px;
}

.search_bar input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

/* listes */

.liste_elements {
    margin-top: 20px;
    max-height: 350px;
    overflow-y: auto;
    padding: 0;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px var(--white);
    border-radius: 8px;
}

.bloc_element {
    position: relative;
    margin: 0;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid var(--white);
    transition: 0.2s ease;
}

.bloc_element:hover {
    font-weight: bold;
}

.bloc_element:nth-child(2n of :not(.bloc_invisible)) {
    background: var(--hover);
}

.bloc_invisible {
    display: none !important;
}

.bloc_element li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0.95rem;
}
/* Nom de l'élement en gras */
.bloc_element li:first-child {
    font-weight: bold;
    font-size: 1rem;
}

/* ligne simple est réservé à la liste des matières */
.bloc_element.ligne_simple {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.ul_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    margin-left: auto;
    margin-top: 5px;
}

.bloc_element.ligne_simple .ul_icons {
    margin-top: 0;
}

.bloc_element.ligne_simple li {
    margin-top: 0;
}

.icon_bloc_element {
    position: absolute;
    top: 20px;
    right: 20px;
}

.icon_bloc_element svg {
    fill: var(--white);
}

.btn_ajouter, .btn_supp_historique {
    margin: 24px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 16px;
    cursor: pointer;
}

.btn_ajouter svg, .btn_supp_historique svg{
    transition: 0.2s ease;
}

.btn_ajouter:hover svg ,.btn_supp_historique:hover svg{
    transform: scale(1.5);
}

.supp_histo {
    display: none;
}

.message_vide_menu {
    text-align: center;
    color: var(--gris);
    padding: 30px 10px;
    font-style: italic;
    font-size: 0.9em;
}

/* Section edition (ajouter ou modifier un élément) */

.supprimer_sec.sec_open .edition_sec, .charger_sec {
    display: none;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 35px;
}

.supprimer_sec.sec_open .edition_sec.sec_open, .charger_sec.sec_open {
    display: flex; 
}

.titre_sec, .titre_edition_sec {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.menu_message {
    margin: 30px 20px;
    text-align: center;
}

.form_edition {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 30px;
}

/* Structure d'un champ */
.champ_edition {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.label_texte {
    font-size: 0.85rem;
    color: var(--light-grey)
}

.champ_edition input {
    color: var(--light-grey);
}

.input_ligne {
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    font-size: 1rem;
    padding: 5px 0;
    outline: none;
}

.input_ligne:focus {
    border-bottom: 2px solid var(--white); 
}

.edition_erreur {
    margin: 10px 25px;
    text-align: center;
    color: var(--rouge);
}

/* ---------------------------- ACCUEIL ------------------------------- */

.accueil {
    padding-top: 90px;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 64px;
    text-shadow: var(--shadow);
    font-weight: normal;
}

h2 {
    display: flex;
    justify-content: center;
    font-weight: normal;
}

.notice_utile {
    position: relative;
    color: var(--black);
    display: flex;
    justify-content: center;
    margin: 50px auto;
    width: 150px;
    transition: 0.2s ease;
}

.notice_utile:hover {
    color: var(--hover);
}

.notice_utile::after {
    position: absolute;
    bottom: -5px;
    content: "";
    background: var(--hover);
    width: 0px;
    height: 3px;
    transition: 0.2s ease;
}

.notice_utile:hover::after {
    width: 100%;
}
/* ------- Formulaire importer des fichiers --------- */

.form_import {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.import-wrapper {
    width: 100%;
    max-width: 600px;
}

.import-field {
    display: flex;
    align-items: center;
    background: var(--white);
    border: 2px solid var(--darkblue);
    border-radius: 50px;
    padding: 5px 5px 5px 20px;
    box-shadow: var(--shadow);
    transition: all 0.3s ease;
}

.import-field:focus-within {
    box-shadow: var(--shadow);
}

.custom-loader {
    flex-grow: 1;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--black);
    font-size: 0.95rem;
}

.custom-loader .icon { 
    margin-right: 10px; 
}

#file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    opacity: 0.8;
}

/* Les boutons */
.actions {
    display: flex;
    gap: 5px;
}

.btn-reset, .btn-submit {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s;
    align-content: center;
}

.btn-reset {
    padding: 10px 15px;
}

.btn-reset svg {
    transition: 0.2s ease;
}

.btn-reset:hover svg{
    transform: scale(1.5);
}

.btn-submit {
    background: var(--darkblue);
    color: var(--white);
    padding: 10px 25px;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-submit:hover {
    transform: scale(1.05);
    background: var(--hover);
}

.btn-reset:hover {
    background: var(--light-grey);
}

.verif_import {
    margin: 25px;
    display: flex;
    justify-content: center;
}

/* ---- Menu Import étudiant ---- */

.menu_import {
    border: solid 2px var(--white);
    border-radius: 16px;
    position: fixed;
    top: 35%;
    left: 35%;
    z-index: 5;
    width: 500px;
    background: var(--darkblue);
    color: var(--white);
    padding: 30px;
    transition: 0.2s ease;
}

#titre_menu_mapping {
    color: var(--white); 
    text-align: center; 
    margin-bottom: 20px;
}

#conteneur_selects_mapping {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 50px 0px;
}

.choix_colonnes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.groupe_btn {
    display: flex;
    justify-content: right;
    gap: 20px;
    margin: 10px;
}

.groupe_btn div {
    padding: 10px 20px;
    border-radius: 16px;
    transition: 0.2s ease;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_annuler {
    background: var(--rouge);
    border: solid 2px var(--white);
}

.btn_valider {
    background: var(--white);
    color: var(--black);
}

.groupe_btn div:hover {
    transform: scale(1.1);
}

.menu_erreur {
    color: var(--rouge);
    margin-bottom: 20px;
}

.menu_close {
    opacity: 0;
    pointer-events: none;
}

hr {
    border: solid 1px var(--darkblue);
    width: 100%;
    margin: 15vh 0;
}
/*---------------------------------- Section Salles d'exam ---------------------*/

h3 {
    color: var(--darkblue);
    margin: 5vh 0;
    display: flex;
    justify-content: center;
}

.button_salles_exam:hover::after {
    opacity: 0.2;
}

.selected::after {
    opacity: 1;
}

.section_import {
    min-height: 300px;
}

.form_salle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.input_txt {
    display: inline-flex;
    align-items: center;
    background-color: var(--black);
    padding: 4px 4px 4px 16px; 
    border-radius: 50px;
}

/* Le texte du label */
.input_txt label {
    color: var(--white);
    font-size: 0.9rem;
    font-weight: 500;
    margin-right: 12px;
    white-space: nowrap;
}

.input_txt input {
    background-color: var(--white);
    color: var(--black);
    border: none;
    border-radius: 50px;
    padding: 8px 15px;
    font-size: 0.95rem;
    font-weight: bold;
    text-align: center;
    width: 90px;
    outline: none;
    transition: box-shadow 0.2s ease;
}

.input_txt input:focus {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3);
}

.input_txt input[type="number"]::-webkit-inner-spin-button, 
.input_txt input[type="number"]::-webkit-outer-spin-button {
    margin: 0; 
}

.btn_creer-salle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 180px;
    margin-top: 50px;   
    margin-left: auto;
    background: var(--darkblue);
    padding: 10px;
    color: var(--white);
    border-radius: 16px;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn_creer-salle:hover {
    background: var(--hover);
}

/*--------------------- Options du tableau ----------------------*/

.options_table {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selects_table {
    display: flex;
    gap: 10px;
}

.selects_table select {
    width: 150px;
}

/* inputs */

.inputs-container {
    display: flex;
    gap: 15px;
}

/* Filtres de la tables pour les spécialités ou étudiants en tier temps */

.zone_tous_les_filtres {
    display: flex; 
    gap: 10px; 
    flex-wrap: wrap; 
    align-items: center; 
    width: 100%;
}

.filtres_spe {
    display: flex;      
    flex-wrap: wrap;   
    gap: 10px;
    flex: 1; 
}

.filtre_spe {
    display: flex;
    gap: 5px;
    padding: 10px;
}

.badge-checkbox {
    display: inline-flex;
    align-items: center;
    background-color: var(--checkcolor);
    color: var(--white);
    padding: 8px 16px;
    border-radius: 50px;
    cursor: pointer;
    font-family: sans-serif;
    user-select: none;
    transition: 0.2s ease;
}

.badge-checkbox:hover {
    opacity: 0.9;
}

.badge-checkbox input {
    display: none;
}

.badge-text {
    margin-right: 12px;
    font-size: 0.9rem;
    font-weight: 500;
}

.custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid var(--light-grey);
    border-radius: 2px;
    position: relative;
    display: inline-block;
}

.custom-checkbox::after {
    content: "";
    position: absolute;
    opacity: 0;
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid var(--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: 0.1s ease;
}

.badge-checkbox input:checked + .badge-text + .custom-checkbox {
    border-color: var(--white);
}

.badge-checkbox input:checked + .badge-text + .custom-checkbox::after {
    opacity: 1;
}

.btn-placement.placement_disable {
    pointer-events: none;
    opacity: 0.5;
}

select {
    background: var(--white);
    color: var(--darkblue); 
    border: 2px solid var(--hover);
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 0.95rem;
    font-weight: 500;
    font-family: inherit;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease;
    box-shadow: var(--shadow);
}

select:focus, select:hover {
    border-color: var(--darkblue);
    box-shadow: var(--shadow);
}

.btn_annuler:hover, .btn_valider:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.btn-placement {
    display: flex;
    gap: 20px;
    color: var(--white);
    background: var(--darkblue);
    padding: 15px;
    border-radius: 25px;
    align-items: center;
    transition: 0.2s ease;
    cursor: pointer;
}

.btn-placement:hover, .btn-exporter:hover {
    background: var(--hover);
}

.btn-placement:hover svg, .btn-exporter:hover svg {
    transition: 0.2s ease;
    transform: translateX(5px);
}


/* --------------------- Tableau et Plan Salle -------------------*/

.choix_affichage {
    display: flex;
    padding: var(--darkblue);
    margin-left: 20px;
    border-radius: 15px 15px 0px 0px;
}

.btn_affichage {
    padding: 15px 50px;
    background: var(--darkblue);
    color: var(--white);
    border-bottom: solid 2px var(--background);
    opacity: 0.7;
}

.btn_affichage:first-child {
    border-radius: 16px 0px 0px 0px;
}

.btn_affichage:last-child {
    border-radius: 0px 16px 0px 0px;
}

.btn_affichage_click {
    opacity: 1;
    border-bottom: none;
}

.section_affichage {
    background: var(--white);
    width: 100%;
    max-height: 400px;
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: var(--shadow);
    overflow-x: hidden;
}

/* ------- Tableau -------- */

.exam-table {
    width: 100%;
    border-collapse: collapse;
    color: var(--black);
    text-align: left;
    max-height: 350px;
    overflow-y: auto;
}

.exam-table thead th {
    position: sticky;
    z-index: 5;
    top: 0;
    background-color: var(--darkblue);
    color: var(--white);
    padding: 15px;
    font-weight: 600;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-align: center;
}

.exam-table td {
    padding: 5px;
}

.exam-table td, .exam-table th {
    width: 150px;
    text-align: center;
}

.exam-table tbody tr td:first-child {
    text-transform: uppercase;
}

.exam-table tbody tr:nth-child(2n) {
    background-color: var(--light-grey);
}

td .badge-checkbox .badge-text{
    margin: 0;
}

.place_attribue {
    font-size:0.75rem; 
    color:var(--darkblue); 
    opacity:0.7;
}

.icon_tiers-temps {
    margin: 0 30%;
}

td .badge-checkbox:has(.check-absence) {
    --checkcolor: var(--black);
    transition: 0.2s ease;
}

td .badge-checkbox:has(.check-absence:checked) {
    --checkcolor: var(--rouge);
}

/* ----- Plan de salle ------ */

.plan_salle {
    background: var(--white);
    width: 100%;
    display: flex;
    flex-direction: column;
}

.panneau_details {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 15px 20px;
    background: var(--darkblue);
    color: var(--white);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    font-size: 0.9rem;
    font-weight: bold;
}

.conteneur_details {
   display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    flex: 1;
    text-transform: uppercase;
}

.info_col {
    min-width: 100px;
}

.icon_zoom {
    display: flex;
    transition: 0.2s ease;
    margin-left: 50px;
    cursor: pointer;
}

.icon_zoom:hover {
    transform: scale(1.2);
}

.icon_invisible {
    display: none;
}

.plan_salles {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    overflow-x: auto;
}

.plan_salle {
    display: grid;
}

.grille_salle {
    display: grid;
    gap: 15px;
    justify-content: center;
}

.place {
    position: relative;
    width: 100%;
    max-width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.place_tiers_temps svg {
    position: absolute;
    top: -10px;
    left: -10px;
    fill: var(--black) !important;
    overflow: visible;
}

.place_tiers_temps svg path {
    stroke: var(--white);
    stroke-width: 0.5px;
}

.abs {
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 8px;
    padding: 5px;
    background: var(--rouge);
    border-radius: 50px;
}

/* Place prise  */
.place[data-etat="prise"] {
    background: var(--darkblue);
}

/* Place vide */
.place[data-etat="vide"] {
    background: var(--gris);
}

/* Place Indisponible  */
.place[data-etat="indispo"] {
    background: transparent;
    border: 2px solid var(--black);
    color: var(--black);
}


.place:hover, .place_cliquer {
    opacity: 0.6;
    transform: scale(1.1);
}

/* Zoom sur le plan */
.zoom_plan {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95vw;
    max-width: 1400px;
    height: 90vh;
    max-height: 900px;
    background-color: var(--white, #fff);
    border-radius: 12px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.zoom_plan .plan_salles {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 10px;
}

/* ----------------------------- Séction après l'affichage ---------------------- */
.after_plan {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

/* Pour cacher le tableau ou le plan de salle */
.affichage_cache {
    display: none;
}

.legende_plan {
    display: flex;
    gap: 40px;
    font-size: 0.85rem;
    font-weight: 500;
}

.item_legende {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cercle_legende {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-sizing: border-box;
    background: var(--gris);
}

.place_occupe {
    background: var(--darkblue);
}

.place_vide {
    border: 2px solid var(--black); 
    background: transparent;
}

.erreur_plan_salle {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    height:100%; 
    padding: 40px; 
    width: 100%;
}

.erreur_plan_salle h4 {
    color:var(--gris); 
    text-align:center;
}

.conteneur_btn-plans_salle {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.btn-plan_salle {
    padding: 8px 30px;
    background: var(--darkblue);
    color: var(--white);
    border-radius: 20px;
    font-weight: bold;
    transition: 0.2s ease;
    opacity: 0.5;
}

.btn-plan_salle.btn_affichage_click {
    box-shadow: var(--shadow);
    opacity: 1;
}

/* Capacité */

.capacite_max {
    display: flex;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.zero_etu {
    color: var(--rouge);
}

.zero_etu, .capacite_max, .ajout_salle, #liste_salles_cumulees, .ajout_salle_sup {
    margin-top: 20px;
    display: none;
}

.after_affichage {
    display: flex;
    justify-content: space-between;
}

.message_visible {
    display: flex !important;
}

.texte_vert {
    color: var(--valide);
}

.texte_rouge {
    color: var(--rouge);
}

.sections_salle_sup {
    display: flex;
    align-items: center;
    gap: 20px;
    margin: 20px 0px;
    height: 20px;
}

#liste_salles_cumulees {
    display: flex;
    gap: 20px;
}

.badge_salle_sup {
    background:var(--hover); 
    color:var(--white); 
    padding: 10px 15px; 
    border-radius:15px; 
    font-size:0.85rem; 
    display:flex; 
    align-items:center; 
    gap:8px;
}

.btn_retirer_salle {
    cursor:pointer; 
    display:flex; 
    align-items:center;
    transition: 0.2s;
}

.btn_retirer_salle:hover {
    transform: scale(1.2);
}

.svg_attention.svg_attention_invisible {
    display: none;
}

.btn-exporter {
    margin-top: 30px;
    margin-left: auto;
    background: var(--black);
    display: flex;
    justify-content: right;
    gap: 20px;
    align-items: center;
    color: var(--white);
    padding: 15px;
    width: 150px;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
}

/* ------------ Menu exporter -----------  */

#menu_exporter {
    position: fixed;
    top: 50%;
    left: 50%;
    max-height: 90vh;
    transform: translate(-50%, -50%);
    background: var(--darkblue);
    color: var(--white);
    padding: 30px;
    border-radius: 15px;
    width: 400px;
    z-index: 1000;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    width: 90%;
    max-width: 400px;
    transition: 0.2s ease;
}

#menu_exporter h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5em;
}

.erreur_exporter {
    color: var(--rouge);
    font-size: 0.9em;
    text-align: center;
    font-weight: bold;
    min-height: 15px;
}

#menu_exporter .groupe_inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#menu_exporter .groupe_inputs label {
    font-weight: bold;
    font-size: 0.9em;
    color: var(--light-grey);
    margin-top: 5px;
}

#menu_exporter .groupe_inputs input {
    background: transparent;
    border: 1px solid var(--light-grey);
    color: var(--white);
    padding: 10px;
    border-radius: 8px;
    font-family: inherit;
    font-size: 1em;
    transition: 0.2s ease;
}

#menu_exporter .groupe_inputs input::placeholder {
    color: var(--light-grey);
}

#menu_exporter .groupe_inputs input:focus {
    outline: none;
    border-color: var(--white);
    background: var(--light-grey);
}

/* ------------------ popup absence ------------ */

.popup_absence {
    position: fixed;
    right: 50px;
    bottom: 25px;
    background: var(--darkblue);
    color: var(--white);
    z-index: 20;
    width: 320px;
    padding: 25px;
    border-radius: 16px;
    box-shadow: var(--shadow);
    transform: translateX(500px);
    transition: 0.5s ease;
}

.popup_absence.pop {
    transform: translateX(0px);
}

.remove_popup {
    transition: 0.2s ease;
    cursor: pointer;
}

.remove_popup:hover {
    transform: scale(1.2);
}

.btn_absence {
    padding: 10px 20px;
    border-radius: 16px;
    background: var(--white);
    display: flex;
    margin-left: auto;
    gap: 10px;
    cursor: pointer;
}

.btn_absence svg {
    transition: 0.2s ease;
}

.btn_absence:hover svg {
    transform: translateX(10px)
}

/* Pied de page */

footer {
    margin-top: 200px;
    background: var(--darkblue);
    padding: 50px;
}

/*---------------------------------------------------------------------- RESPONSIVE ------------------------------------------------------------------------*/

@media (max-width: 1400px) {
    main {
        margin: 0% 2%;
    }
}

@media (max-width: 1100px) {
    header {
        justify-content: center;
    }
    .options_table {
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
    }
    
    .zone_tous_les_filtres {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .btn-placement {
        align-self: flex-end;
    }
}